{{#each allItems}}
 
                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 product-item">
                                    <div class="product-images">
                                        <a href="view/{{id}}" class="hover-images effect"><img src="uploads/{{thumb}}" alt="photo"  class="img-reponsive"></a>
                                       {{#unless inStock}}
                                       <div class="ribbon-sale ver3"><span>Agotado</span></div>
                                       {{/unless}}
                                        {{#if newOne}}
                                        <div class="ribbon-new ver2"><span>new</span></div>
                                       {{/if}}
                                       {{#if offer}}
                                        <div class="ribbon-sale ver2"><span>-{{offer}}%</span></div>
                                        {{/if}}
                                        {{!-- <a href="#" class="btn-add-wishlist ver2"><i class="icon-heart"></i></a> --}}
                                        <a href="view/{{id}}" class="btn-quickview">VER MAS DETALLES</a>
                                     
                                    </div>
                                    <div class="product-info-ver2">
                                        <h3  class="product-title"><a  style="color:rgb(2, 126, 13)" href="view/{{id}}">{{name}}<i class="fas fa-leaf"></i></a></h3>
                                       {{!-- 
                                       style="background-color:rgba(4, 250, 25, 0.26)"
                                       
                                       --}}
                                        <div class="product-after-switch">
                                            <div class="product-price">{{price}}€ por 50gr.</div>
                                            <div class="product-after-button">
                                                <a href="/addToCart/{{id}}/10" class="addcart">Añadir al carrito (10gr)</a>
                                                 
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="rating-star">
                                            <span class="star star-5"></span>
                                            <span class="star star-4"></span>
                                            <span class="star star-3"></span>
                                            <span class="star star-2"></span>
                                            <span class="star star-1"></span>
                                        </div>
                                        <p class="product-desc">Compellingly brand enterprise value after functional manufactured products. Synergistically morph process-centric intellectual capital rather than extensible catalysts for change. Credibly aggregate progressive initiatives and long-term.</p>
                                        <div class="product-price">{{price}}</div>
                                        <div class="button-group">
                                            <input type="hidden" value="{{id}}">
                                            <a href="#" class="button add-to-cart">Add to cart</a>
                                            <a href="#" class="button add-to-wishlist">Add to wishlist</a>
                                            <a href="view/{{id}}" class="button add-view">Quick view</a>
                                        </div>
                                    </div>
                                </div>
                              {{/each}}