

  <div class="main-content">
            <div class="cart-box-container-ver2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Revisa tu pedido:</h3>
                            <table class="table cart-table space-30 ">
                                <tbody>
                                    {{#each inCart}}
                                    
                                    <tr class="item_cart ">
                                        <td class="product-photo"><img src="img/cart/product_1.jpg" alt="Futurelife"></td>
                                        <td class="produc-name"><a href="#" title="">{{articulo.name}}</a>
                                            <div class="quantity input-group">
                                                <button type="button" class="quantity-left-minus btn btn-number js-minus" data-type="minus" data-field="">
                                                    <span class="minus-icon">-</span>
                                                </button>
                                                <input id="{{id}}" type="text" name="number" onkeyup="update(this)" value="{{cantidad}}" class="product_quantity_number js-number">
                                                <button type="button" class="quantity-right-plus btn btn-number js-plus" data-type="plus" data-field="">
                                                    <span class="plus-icon">+</span>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="total-price">
                                            <a class="remove" href="#" title="">x</a>
                                            <p class="price">{{#calcPrice cantidad finalPrice}}{{/calcPrice}}€</p>
                                        </td>
                                    </tr>
            {{/each}}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <a href="/" class="btn link-button hover-black continue">Volver a la tienda</a>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <a href="" onclick="location.reload()" class="btn link-button hover-black update">Actualizar carrito</a>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-md-4">

                        

                            {{#unless cupon}}
                            <h3>Tienes tu cupon de descuento?</h3>
                            <div class="contact-form coupon">
                                
                                    <div class="form-group">
                                         {{#if mensaje}}
                        <div class="alert alert-danger">{{mensaje}}</div>
                        {{/if}}
                                        <form id="cuponForm" method="post" action="/applyCupon">
                                        <input type="text" name="code" class="form-control input-cart" id="inputfname" placeholder="Coupon Code"></form>
                                        <button class="btn link-button link-button-v2 hover-white color-red" onclick="$('#cuponForm').submit()" type="button">Aplicar cupon</button>
                                    </div>
                                
                            </div>{{/unless}}
                            <h3>Cart Totals</h3>
                            <div class="text-price">
                                <ul>
                     {{#if cupon}}  <li><span class="text">Cupon : </span><span class="number">{{cupon.name}}&nbsp<a href="/noCupon"><i class="fas fa-trash-alt"></i></a></span></li> {{/if}}                                   
                                    
                                    <li><span class="text">Metodo de envio:</span>
                                        <div class="payment">
                                            <form action="#">
                                                <input type="radio" name="gender" value="Flat" id="radio1" checked="checked">
                                                <label for="radio1">Free Shipping</label>
                                                <input type="radio" name="gender" value="Free" id="radio2">
                                                <label for="radio2">Standard <span class="number">$20.00</span></label>
                                                <input type="radio" name="gender" value="Delivery" id="radio3">
                                                <label for="radio3">Local Pickup</label>
                                            </form>
                                        </div>
                                    </li>
                                    <li><span class="text">Subtotal</span><span class="number">{{totalPrice}}€</span></li>
                                    {{!-- <li><span class="text calculate">Calculate shipping</span>
                                        <form class="zipcode" action="#">
                                            <input type="text" class="form-control input-cart" placeholder="Zipcode">
                                        </form>
                                    </li> --}}
                                    {{#if cupon}}  <li><span class="text">Descuento del cupon : </span><span class="number">{{discount}}€</span></li>  {{/if}}
                                    <li><span class="text">Totals</span><span class="number">{{total}}€</span></li>
                                </ul>
                            </div>
                            <a class="btn link-button hover-white checkout" href="#" title="Proceed to checkout">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
                <!-- End container -->
            </div>
            <!-- End cat-box-container -->
        </div>

    