<script>

function validate(evt) {
  var theEvent = evt || window.event;

  // Handle paste
  if (theEvent.type === 'paste') {
      key = event.clipboardData.getData('text/plain');
  } else {
  // Handle key press
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
  }
  var regex = /[0-9]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}

</script>

<table><br>

                                <tbody>
                                    <tr class="item_cart">
                                      {{#each inCart}}
                                      <form id="{{id}}" action="removeItem" method="post">
                                      <input type="hidden" value="{{id}}" name="id">
                                        <td class="produc-name"><a href="view/{{id}}" title="">&nbsp&nbsp{{articulo.name}}&nbsp&nbsp&nbsp&nbsp</a>
                                            <div class="quantity input-group">
                                                {{!-- <button type="button" class="quantity-left-minus btn btn-number js-minus" data-type="minus" data-field=""> --}}
                                                    {{!-- <span class="minus-icon">-</span> --}}
                                                </button>
                                               
                                                <input id="{{id}}" onkeypress='validate(event)' onkeyup="update(this)" type="text" name="number" value="{{cantidad}}" class="product_quantity_number js-number js">
                                                {{!-- <button type="button" class="quantity-right-plus btn btn-number js-plus" data-type="plus" data-field=""> --}}
                                                    {{!-- <span class="plus-icon">+</span> --}}
                                                </button>
                                            </div>
                                        </td>
                                        <td class="total-price">
                                            <a style='margin-left:5e !important' class="remove" href="javascript:{}" onclick="document.getElementById('{{id}}').submit();"><i class="fas fa-trash-alt"></i></a>
                                            <p class="price">
                                                {{#calcPrice cantidad finalPrice}}{{/calcPrice}}€
                                            </p>
                                        </td>
                                    </tr><br></form>
                               {{/each}}
<input id='user' type="hidden" value="{{usuario}}">
<script>function update(ctx){
console.log($('#user').value)
   $.ajax({
            url: '/cantidad',
            type: 'post',
            data:{
                id:ctx.id,
                cantidad:ctx.value},
            success:function(){
                
            }
        });


}


</script>

                                </tbody>
                            </table>