



    <form style="margin:5%"  method="post" action="/update">
        <div class="form-group row">
            <div class="form-group">
            <label class="col-sm-2 col-form-label">Добавление товара в магазин</label>




 {{!-- {{> admin/showItems}} --}}

            <input type="hidden" name="id" value="{{item.id}}">

            <input type="text" class="form-control" name="name" value="{{item.name}}" ><br>
           
            <input type="text" class="form-control" id="thumb" name="thumb" value="{{item.thumb}}"><br>
           
            <input type="number" class="form-control" id="price" name="price" value="{{item.price}}">
       
             <input type="text" class="form-control" id="" name="stock" value="{{item.stock}}">
        </div>




                        <label for="exampleFormControlTextarea1">Описание продукта</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3">{{item.description}}</textarea>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Основная категория товара.</legend>
                            <div class="col-sm-10">
                                <button class="btn btn-secondary" type="button" onclick="changeCat()" >Изменить</button>
                         <select disabled="true" id="catSelect" name="cat" selected="{{item.categorry}}">
                             <option selected value="{{item.categories}}">{{item.categories}}</option>
                        {{#each categoria}}  <option value="{{cat}}"> {{cat}} </option>  {{#each subCat}}  <option value="{{this}}"> << {{this}} </option> {{/each}} {{/each}}
                      
                      
                            </select>
                                        
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-sm-2">Параметры отображения</div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1" checked>
                                <label class="form-check-label" for="gridCheck1">
                                    Купить с шагом 50 гр
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1" checked>
                                <label class="form-check-label" for="gridCheck1">
                                Показывать в рекомандуемых&nbsp; </label>
                            </div>
                          <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                              <label class="form-check-label" for="gridCheck1">
                              Новинка&nbsp; </label>
                            </div>
                          <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                              <label for="textfield">Скидка:</label>
                                <input type="text" name="textfield" id="textfield">
                              <label class="form-check-label" for="gridCheck1">
                              %&nbsp;&nbsp; </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Добавить!</button>
                        </div>
                    </div>
                </form>


                <!-- Content here -->
            

            <script>
                const changeCat = ()=>{
                    $('#catSelect').removeAttr('disabled')
                }
 </script>